// Buttons style sheet


.btn{
    display: inline-flex;
    font-family: $secondary-font;
    font-weight: $font-400;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;

    &-small{
        padding: 8px 12px;
        font-size: $font-small;
        border-radius: 5px;
    }
    
    &-normal{
        padding: 14px 25px;
        font-size: $font-normal;
        border-radius: 8px;
    }
    
    &-large{
        padding: 20px 40px;
        font-size: $font-large;
        border-radius: 10px;
    }

    &-blue{
        color: $white;
        border: 2px solid $blue;
        background-color: $blue;
        
        &:hover{
            border: 2px solid $blue-400;
            background-color: $blue-400;
        }
    }

    &-red{
        color: $white;
        border: 2px solid $red;
        background-color: $red;

        &:hover{
            border: 2px solid $red-400;
            background-color: $red-400
        }
    }

    &-purple{
        color: $white;
        border: 2px solid $purple;
        background-color: $purple;

        &:hover{
            border: 2px solid $purple-400;
            background-color: $purple-400
        }
    }

    &-yellow{
        color: $black;
        border: 2px solid $yellow;
        background-color: $yellow;

        &:hover{
            border: 2px solid $yellow-400;
            background-color: $yellow-400
        }
    }


    &-blue-outline{
        color: $blue;
        border: 2px solid $blue;
        background-color: none;

        &:hover{
            color: $white;
            border: 2px solid $blue-400;
            background-color: $blue-400
        }
    }

    &-red-outline{
        color: $red;
        border: 2px solid $red;
        background-color: none;

        &:hover{
            color: $white;
            border: 2px solid $red-400;
            background-color: $red-400
        }
    }

    &-purple-outline{
        color: $purple;
        border: 2px solid $purple;
        background-color: none;

        &:hover{
            color: $white;
            border: 2px solid $purple-400;
            background-color: $purple-400
        }
    }

    &-yellow-outline{
        color: $yellow;
        border: 2px solid $yellow;
        background-color: none;

        &:hover{
            color: $black;
            border: 2px solid $yellow-400;
            background-color: $yellow-400
        }
    }

    &-green-outline{
        color: $green;
        border: 2px solid $green;
        background-color: none;

        &:hover{
            color: $white;
            border: 2px solid $green-400;
            background-color: $green-400
        }
    }
}