// Buttons style sheet


.btn{
    display: inline-flex;
    font-family: $secondary-font;
    font-weight: $font-400;
    border: none;
    background-color: transparent;
    transition: 0.3s ease;

    &-small{
        padding: 0.8rem 0.92rem;
        font-size: $font-small;
        border-radius: 0.25rem;
    }
    
    &-normal{
        padding: 0.92rem 1.5rem;
        font-size: $font-normal;
        border-radius: 0.62rem;
    }
    
    &-large{
        padding: 1.3rem 2.5rem;
        font-size: $font-large;
        border-radius: 0.92rem;
    }

    &-blue{
        color: $white;
        border: 0.12rem solid $blue;
        background-color: $blue;
        
        &:hover{
            border: 0.12rem solid $blue-400;
            background-color: $blue-400;
        }
    }

    &-red{
        color: $white;
        border: 0.12rem solid $red;
        background-color: $red;

        &:hover{
            border: 0.12rem solid $red-400;
            background-color: $red-400
        }
    }

    &-purple{
        color: $white;
        border: 0.12rem solid $purple;
        background-color: $purple;

        &:hover{
            border: 0.12rem solid $purple-400;
            background-color: $purple-400
        }
    }

    &-yellow{
        color: $black;
        border: 0.12rem solid $yellow;
        background-color: $yellow;

        &:hover{
            border: 0.12rem solid $yellow-400;
            background-color: $yellow-400
        }
    }


    &-blue-outline{
        color: $blue;
        border: 0.12rem solid $blue;
        background-color: none;

        &:hover{
            color: $white;
            border: 0.12rem solid $blue-400;
            background-color: $blue-400
        }
    }

    &-red-outline{
        color: $red;
        border: 0.12rem solid $red;
        background-color: none;

        &:hover{
            color: $white;
            border: 0.12rem solid $red-400;
            background-color: $red-400
        }
    }

    &-purple-outline{
        color: $purple;
        border: 0.12rem solid $purple;
        background-color: none;

        &:hover{
            color: $white;
            border: 0.12rem solid $purple-400;
            background-color: $purple-400
        }
    }

    &-yellow-outline{
        color: $yellow;
        border: 0.12rem solid $yellow;
        background-color: none;

        &:hover{
            color: $black;
            border: 0.12rem solid $yellow-400;
            background-color: $yellow-400
        }
    }
}