doctype html
html(lang="en")

    include pug/head.pug

    block content

        include pug/navbar.pug

        div.row.flex

            include pug/sidebar.pug

            section.elements-column
                
                include pug/buttons.pug

                include pug/inputs.pug

        include pug/footer.pug