doctype html
html(lang="en")

    include pug/head.pug

    block content

        include pug/navbar.pug

        div.main-row

            include pug/sidebar.pug

            section.elements-column
                
                include pug/body.pug

        include pug/footer.pug