div.buttons-row.flex.wrap
    button.btn.btn-large.btn-blue: span.btn-txt Large button

    a.btn.btn-large.btn-red: span.btn-txt Large button

    button.btn.btn-normal.btn-purple-outline: span.btn-txt Normal button

    a.btn.btn-normal.btn-red-outline: span.btn-txt Normal button

    button.btn.btn-small.btn-purple: span.btn-txt Small button

    a.btn.btn-small.btn-outline-green: span.btn-txt Small button
        
    button.btn.btn-small.btn-blue: span.btn-txt Small button

    a.btn.btn-small.btn-outline-red: span.btn-txt Small button