div.sidebar.sticky
    ul.unordered-list.block
        li.unordered-list-element
            a.slide-down(href="")
                span.text 

        li.unordered-list-element
            a.slide-down(href="")
                span.text 

        li.unordered-list-element
            a.slide-down(href="")
                span.text 

        li.unordered-list-element
            a.slide-down(href="")
                span.text 

        li.unordered-list-element
            a.slide-down(href="")
                span.text 

        li.unordered-list-element
            a.slide-down(href="")
                span.text 